<!--
  templateType: page
  label: Standard Page
  isAvailableForNewContent: true
  screenshotPath: ../images/template-standard.png
-->
<!doctype html>
<html lang="{{ html_lang }}" prefix="og: http://ogp.me/ns#">
<head>
  {% include "partials/head.html" %}
</head>
<body>

  {% include "partials/header.html" %}

  <main id="main-content">
    {% dnd_area "main_area" label="Main Content", class="dnd-area--main" %}
      {% dnd_section %}
        {% dnd_column %}
          {% dnd_row %}
            {% dnd_module path="@hubspot/rich_text" label="Content" %}{% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_section %}
    {% end_dnd_area %}
  </main>

  {% include "partials/footer.html" %}

  {{ require_js(get_asset_url("../js/main.js")) }}

</body>
</html>
